#section-header,
#section-footer,
#page-title {
  display: none;
}

.panel-flexible {
  position: relative;
}
.panel-flexible .header-right,
.panel-flexible .top-right {
  text-align: right;
}

.logo {
  float: right;
  margin: 0 0 0.5em 0.5em;
}

body .pane-profile2-field-person-name {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin-bottom: 0;
}
.pane-profile2-field-person-name + .panel-separator,
.pane-commerce-order-commerce-line-items + .panel-separator {
  display: none;
}

.header {
  min-height: 200px;
}

.top .panel-pane { margin-bottom: 0; }

.panel-flexible .line-items > .inside {
  border: 1px solid #BDBFC1;
  font-size: 1.25em;
  padding: 0.5em;
  margin-bottom: 1em;
  overflow: hidden;
}

.panel-flexible .line-items table {
  border: none;
}
.panel-flexible .line-items thead {
  display: none;
}
.panel-flexible .line-items tr,
.panel-flexible .line-items td {
  border: none;
  background: none !important;
}

.panel-flexible .line-items td.views-field-created {
  width: 10em;
}

.pane-commerce-payment-order-panel-pane-1 {
  border-top: 1px solid #BDBFC1;
  padding-top: 0.5em;
  margin-bottom: 0 !important;
  clear: right;
}

.pane-commerce-order-commerce-line-items {
  border-bottom: 1px solid #BDBFC1;
  padding-bottom: 0.5em;
  margin-bottom: 0 !important;
}

body .pane-commerce-order-commerce-order-total {
  float: right;
  width: 33%;
  padding: 0.7em 0 0.7em;
  margin-bottom: 0;
  font-weight: bold;
}
.pane-commerce-order-commerce-order-total .pane-title {
  float: left;
  color: inherit;
  font-size: inherit;
  padding: 0 0.5em;
}
.pane-commerce-order-commerce-order-total .pane-content {
  color: inherit;
  font-size: inherit;
  text-align: right;
  padding: 0 0.5em;
}

.pane-commerce-order-commerce-order-total + .panel-separator {
  margin-bottom: 0.5em !important;
}

.payment-totals {
  border-top: 1px solid #BDBFC1;
  margin: 0.3em 0;
  padding-top: 0.5em;
}

.payment-methods li {
  margin-bottom: 1em;
}
.payment-methods dl {
  margin-top: 0;
}
.payment-methods dt {
  float: left;
  font-size: inherit;
  width: 10em;
  clear: left;
}
.payment-methods dd {
  min-height: 1em;
  padding-left: 10em;
  font-size: inherit;
  font-style: inherit;
  margin-bottom: 0;
}
.fixed-footer {
  border-top: 1px solid #BDBFC1;
  margin-top: 2em;
}

html, body {
  min-height: 100%;
  height: 100%;
}

@media print {
  #region-page-top {
    display: none;
  }
  body {
    min-width: 0 !important;
    padding-top: 0 !important;
  }
  body .container-16 {
    width: auto;
  }
  body .container-16 .grid-16 {
    width: 100%;
    margin: 0;
  }
  .fixed-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
